
body {
  font-family: 'Pangolin', serif;
  font-size: 250%;
  color: white
}

div {
  margin: 150px auto;
  width: 50%;
  border:15px solid dodgerblue;
  background: orange;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 180px;
  padding-left: 20px;
  padding-right: 20px
}
/*
body {
    font-family: 'Pangolin', serif;
    font-size: 48px;
  }

div {
  width: 800px;
  height: 400px;
  margin: 50px auto;
  padding-top:80px;
  padding-bottom: 80px;
  text-align:center;
  border:10px solid chocolate
}
*/
